#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 55px 35px 35px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 25%;
}

.blurred-background {
    filter: blur(5px);
    opacity: 0.5;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header button {
    background-color: transparent;
    border: none;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-bottom: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: DM Sans;
    padding-left: 15px;
}

form input::placeholder, form textarea::placeholder {
    font-size: 26px;
    padding-left: 5px;
    font-family: DM Sans;
}

form textarea {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 26px;
    font-family: DM Sans;
}

#thankYouMessage {
    width: 600px;
    height: 600px;
    background-color: #DB8876;
    border-radius: 5%;
    font-size: 64px;
    font-family: DM Sans;
    padding: 80px 40px;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 2000;
}

.close-icon {
    color: white;
    position:absolute;
    right: 80px;
    top: 40px;
    cursor: pointer;
}

/* PHOTOGRAPH-HEADER SECTION */

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.text-container {
    padding: 50px;
}

.photograph-header button {
    margin-top: 100px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.photograph-header h2 {
    color: #bf5138;
    font-size: 64px;
    line-height: 83.33px;
    margin:0;
}
    
.photograph-header h3 {
    color: #901c1c;
    font-size: 24px;
    line-height: 31.25px;
    margin:0;
}
    
.photograph-header h4 {
    font-size: 18px;
    line-height: 23.44px;
    margin:0;
    color: #525252;
    padding-top: 10px;
}

/* MEDIA-CONTENT SECTION */

.media-content {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
}

.media-item {
    padding-bottom: 50px;
    margin: 0 10px;
}
.media-item img, video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.top-position {
    object-position: top;
}

.media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    width: 350px;
}

.media-info p {
    font-size: 24px;
    font-weight: 400;
    color: #901c1c;
    margin: 0;
}

.media-info p:first-child {
    max-width: 70%;
}

/* LIKES-BOX */

.likes-box {
    display: flex;
    justify-content: space-between;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    background-color: #db8876;
    color: black;
    font-size: 24px;
    align-items: center;
    padding: 0 20px;
}

/* ORDER-BY */
